<h1 mat-dialog-title>Add New Program Participation</h1>
<div mat-dialog-content>
  <mat-form-field class="example-one-third-width">
    <input matInput [(ngModel)]="data.year" placeholder="Year">
  </mat-form-field>
</div>

<div mat-dialog-content>
  <mat-form-field class="example-full-width">
      <mat-select placeholder="Program" required>
          <mat-option *ngFor="let p of programs" [value]="p.progId">
            {{p.program}}
          </mat-option>
      </mat-select>      
  </mat-form-field>  
</div>


<div mat-dialog-content>
  <mat-form-field class="example-half-width">
    <input matInput [(ngModel)]="data.hostcity" placeholder="Host City">
  </mat-form-field>
</div>

<div mat-dialog-content>
  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="data.hostcounCode" placeholder="Host Country">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="cancelClick()">Cancel</button>&nbsp;
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Save</button>
</div>
